# Obtaining Data

## Stakeholders 
The Seattle Police Department has reached out to determine the likelihood of Terry Stops preventing a crime by arresting suspects under the basis of "probable cause". In an effort to improve race relations, they also want to see how much of a role racial discrimination plays in who gets stopped.

## Objectives: 
* Determine whether Terry Stops are preventing crimes
* Determine if there is a relationship between Terry Stops and a subject's race
* Do the differences in races of the police officer and the subject play a role?
*

Ok, let's check out this data!

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CSV_Files/Terry_Stops.csv')
df.head()

,Subject Age Group,Subject ID,GO / SC Num,Terry Stop ID,Stop Resolution,Weapon Type,Officer ID,Officer YOB,Officer Gender,Officer Race,...,Reported Time,Initial Call Type,Final Call Type,Call Type,Officer Squad,Arrest Flag,Frisk Flag,Precinct,Sector,Beat
0,-,-1,20140000120677,92317,Arrest,None,7500,1984,M,Black or African American,...,11:32:00,-,-,-,SOUTH PCT 1ST W - ROBERT,N,N,South,O,O2
1,-,-1,20150000001463,28806,Field Contact,None,5670,1965,M,White,...,07:59:00,-,-,-,NaN,N,N,-,-,-
2,-,-1,20150000001516,29599,Field Contact,None,4844,1961,M,White,...,19:12:00,-,-,-,NaN,N,-,-,-,-
3,-,-1,20150000001670,32260,Field Contact,None,7539,1963,M,White,...,04:55:00,-,-,-,NaN,N,N,-,-,-
4,-,-1,20150000001739,33155,Field Contact,None,6973,1977,M,White,...,00:41:00,-,-,-,NaN,N,N,-,-,-

That's... A lot of missing data...

In [3]:
df.shape

(43512, 23)

We see a lot of place holder values, let's look for any NaNs in our dataset.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43512 entries, 0 to 43511
Data columns (total 23 columns):
Subject Age Group           43512 non-null object
Subject ID                  43512 non-null int64
GO / SC Num                 43512 non-null int64
Terry Stop ID               43512 non-null int64
Stop Resolution             43512 non-null object
Weapon Type                 43512 non-null object
Officer ID                  43512 non-null object
Officer YOB                 43512 non-null int64
Officer Gender              43512 non-null object
Officer Race                43512 non-null object
Subject Perceived Race      43512 non-null object
Subject Perceived Gender    43512 non-null object
Reported Date               43512 non-null object
Reported Time               43512 non-null object
Initial Call Type           43512 non-null object
Final Call Type             43512 non-null object
Call Type                   43512 non-null object
Officer Squad               42968 non-null object
Arrest Flag                 43512 non-null object
Frisk Flag                  43512 non-null object
Precinct                    43512 non-null object
Sector                      43512 non-null object
Beat                        43512 non-null object
dtypes: int64(4), object(19)
memory usage: 7.6+ MB

Officer Squad has 544 NaN values.  To save time we'll make a function that shows us the value counts of each column

In [5]:
def col_values(df):
    """
    For use in Preprocessing and cleaning to find placeholder values
    Input: Data frame
    Output: Counts of unique values for each column
    """
    for col in df.columns:
        print(col)
        print('\n')
        print(df[col].value_counts())
        print('-------------------------------------------------------')
        print('\n')

In [6]:
col_values(df)

Subject Age Group


26 - 35         14420
36 - 45          9153
18 - 25          8875
46 - 55          5599
56 and Above     2185
1 - 17           1908
-                1372
Name: Subject Age Group, dtype: int64
-------------------------------------------------------


Subject ID


-1              34676
 7726859935        18
 7727117712        12
 7753260438        11
 7726318196         8
                ...
 7730602336         1
 7758922092         1
 7727677812         1
 9640739188         1
 12095084261        1
Name: Subject ID, Length: 7045, dtype: int64
-------------------------------------------------------


GO / SC Num


20150000190790    16
20160000378750    16
20180000134604    14
20170000132836    13
20190000441736    13
                  ..
20190000076830     1
20150000379928     1
20180000002079     1
20180000333849     1
20180000071981     1
Name: GO / SC Num, Length: 33910, dtype: int64
-------------------------------------------------------


Terry Stop ID


13080077761    3
12781960580    2
12689034912    2
12119304761    2
13645398605    2
              ..
533169         1
171013         1
477105         1
516777         1
131072         1
Name: Terry Stop ID, Length: 43496, dtype: int64
-------------------------------------------------------


Stop Resolution


Field Contact               17254
Offense Report              14872
Arrest                      10490
Referred for Prosecution      728
Citation / Infraction         168
Name: Stop Resolution, dtype: int64
-------------------------------------------------------


Weapon Type


None                                 32565
-                                     8454
Lethal Cutting Instrument             1482
Knife/Cutting/Stabbing Instrument      432
Handgun                                271
Firearm Other                          100
Blunt Object/Striking Implement         53
Club, Blackjack, Brass Knuckles         49
Firearm                                 25
Mace/Pepper Spray                       16
Firearm (unk type)                      15
Other Firearm                           14
Club                                     9
Rifle                                    7
None/Not Applicable                      6
Taser/Stun Gun                           5
Shotgun                                  3
Automatic Handgun                        2
Fire/Incendiary Device                   2
Brass Knuckles                           1
Blackjack                                1
Name: Weapon Type, dtype: int64
-------------------------------------------------------


Officer ID


7456      386
7634      334
7758      299
7773      294
7765      292
         ...
7563        1
6247        1
7558        1
5833        1
5411        1
Name: Officer ID, Length: 1162, dtype: int64
-------------------------------------------------------


Officer YOB


1986    3082
1987    2790
1984    2622
1991    2516
1985    2387
1992    2165
1990    2035
1988    1923
1989    1874
1982    1780
1983    1633
1979    1412
1981    1328
1993    1273
1971    1196
1978    1083
1976     959
1977     953
1995     888
1973     887
1980     772
1994     738
1967     702
1968     611
1970     558
1974     537
1969     528
1975     505
1962     452
1996     415
1965     412
1972     408
1964     402
1997     255
1963     253
1966     219
1958     218
1961     205
1959     174
1960     156
1954      44
1957      43
1953      32
1900      21
1955      21
1956      17
1948      11
1952       9
1949       5
1946       2
1951       1
Name: Officer YOB, dtype: int64
-------------------------------------------------------


Officer Gender


M    38584
F     4917
N       11
Name: Officer Gender, dtype: int64
-------------------------------------------------------


Officer Race


White                            33391
Hispanic or Latino                2459
Two or More Races                 2288
Asian                             1776
Black or African American         1725
Not Specified                     1112
Nat Hawaiian/Oth Pac Islander      430
American Indian/Alaska Native      310
Unknown                             21
Name: Officer Race, dtype: int64
-------------------------------------------------------


Subject Perceived Race


White                                        21288
Black or African American                    12977
Unknown                                       2253
Hispanic                                      1684
-                                             1663
Asian                                         1372
American Indian or Alaska Native              1278
Multi-Racial                                   809
Other                                          152
Native Hawaiian or Other Pacific Islander       36
Name: Subject Perceived Race, dtype: int64
-------------------------------------------------------


Subject Perceived Gender


Male                                                         34001
Female                                                        8912
Unable to Determine                                            326
-                                                              258
Unknown                                                         12
Gender Diverse (gender non-conforming and/or transgender)        3
Name: Subject Perceived Gender, dtype: int64
-------------------------------------------------------


Reported Date


2015-10-01T00:00:00    101
2015-09-29T00:00:00     66
2015-05-28T00:00:00     57
2015-07-18T00:00:00     55
2019-04-26T00:00:00     54
                      ...
2015-04-14T00:00:00      1
2015-03-24T00:00:00      1
2015-03-28T00:00:00      1
2015-05-06T00:00:00      1
2015-03-15T00:00:00      1
Name: Reported Date, Length: 1979, dtype: int64
-------------------------------------------------------


Reported Time


19:18:00    51
02:56:00    50
03:09:00    50
17:00:00    50
03:13:00    50
            ..
00:42:59     1
02:53:32     1
16:06:14     1
12:17:43     1
02:42:10     1
Name: Reported Time, Length: 9793, dtype: int64
-------------------------------------------------------


Initial Call Type


-                                                 12828
SUSPICIOUS STOP - OFFICER INITIATED ONVIEW         2820
SUSPICIOUS PERSON, VEHICLE OR INCIDENT             2707
DISTURBANCE, MISCELLANEOUS/OTHER                   2249
ASLT - IP/JO - WITH OR W/O WPNS (NO SHOOTINGS)     1823
                                                  ...
REQUEST TO WATCH                                      1
PHONE - OBSCENE OR NUISANCE PHONE CALLS               1
ESCAPE - PRISONER                                     1
-ASSIGNED DUTY - STAKEOUT                             1
DEMONSTRATIONS                                        1
Name: Initial Call Type, Length: 164, dtype: int64
-------------------------------------------------------


Final Call Type


-                                                    12828
--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON              3342
--PROWLER - TRESPASS                                  3018
--DISTURBANCE - OTHER                                 2472
--ASSAULTS, OTHER                                     2093
                                                     ...
-OFF DUTY EMPLOYMENT                                     1
ASSIST OTHER AGENCY - EMERGENCY SERVICE                  1
ASLT - IP/JO - PERSON SHOT OR SHOT AT                    1
--COMMERCIAL SEXUAL EXPLOITATION OF MINORS (CSEC)        1
PROWLER - IP/JO                                          1
Name: Final Call Type, Length: 200, dtype: int64
-------------------------------------------------------


Call Type


911                              19181
-                                12828
ONVIEW                            8205
TELEPHONE OTHER, NOT 911          3018
ALARM CALL (NOT POLICE ALARM)      274
TEXT MESSAGE                         3
PROACTIVE (OFFICER INITIATED)        2
SCHEDULED EVENT (RECURRING)          1
Name: Call Type, dtype: int64
-------------------------------------------------------


Officer Squad


TRAINING - FIELD TRAINING SQUAD                   4653
WEST PCT 1ST W - DAVID/MARY                       1406
WEST PCT 2ND W - D/M RELIEF                        929
NORTH PCT 2ND WATCH - NORTH BEATS                  885
SOUTHWEST PCT 2ND W - FRANK                        865
                                                  ...
SOUTHWEST PCT OPS - BURG/THEFT                       1
SOUTHWEST PCT 3RD W - PCT SUPPORT                    1
RECORDS - DAY SHIFT                                  1
COMM - INTERNET AND TELEPHONE REPORTING (ITRU)       1
ROBBERY SQUAD B                                      1
Name: Officer Squad, Length: 160, dtype: int64
-------------------------------------------------------


Arrest Flag


N    41230
Y     2282
Name: Arrest Flag, dtype: int64
-------------------------------------------------------


Frisk Flag


N    33452
Y     9582
-      478
Name: Frisk Flag, dtype: int64
-------------------------------------------------------


Precinct


West         10045
-             9657
North         9635
East          5768
South         5162
Southwest     2320
SouthWest      682
Unknown        200
OOJ             28
FK ERROR        15
Name: Precinct, dtype: int64
-------------------------------------------------------


Sector


-         9853
E         2337
M         2270
N         2191
K         1762
B         1658
L         1639
D         1512
R         1455
F         1378
S         1348
K         1303
U         1302
O         1161
J         1119
G         1087
C         1037
Q          967
W          941
M          887
D          821
E          736
Q          519
N          508
O          435
F          402
R          398
S          365
B          330
G          327
U          325
J          298
W          280
L          264
C          244
99          53
Name: Sector, dtype: int64
-------------------------------------------------------


Beat


-         9802
N3        1175
E2        1092
M2         852
M3         792
          ...
C2          55
99          53
99          27
OOJ         18
S            2
Name: Beat, Length: 107, dtype: int64
-------------------------------------------------------

### Notes:
**Age Groups**: 1372 people with unknown age

**Subject ID**: 34,676 people that are not assigned an ID number, also some people stopped multiple times

**General Offense**: Repeated values, need to look into why

**Terry Stop ID**: Repeated values. These should definitely be removed.

**Stop Resolution**: No NaNs or place holders, but distinction needs to be made between physical and non-custodial arrest.

**Weapon Type**: Needs to be cleaned up and binned. Need to create 'unknown' to account for placeholders

**Officer ID**: Clean. This data may be irrelevant.

**Officer YOB**: Clean.

**Officer Gender**: 11 counts of 'N'.  Unable to determine if this means unknown, non-gender binary, etc.  It's a tiny amount of data, just drop it.

**Reported Date**: Clean; but delete the Time counter and extract the year to feature engineer the age of the officer.

**Reported Time**: Clean

**Initial Call/Final/Call Type**: The consistent appearance of 12,828 seems that these were calls made **BEFORE** the integration of the **Computer Assisted Dispatch** system. Although this is a lot of data to just drop, it could cause problems with interpretation since we can't tell if this was a result of an officer being proactive or responding to a call.

**Officer Squad**: We know from earlier that their are NaN values present in this column.

**Arrest Flag**: Clean.  This is our Target because it denotes all Physical Arrests.

**Frisk Flag**: 478 place holders. Delete to improve interpretability. 

**Precinct/Sector/Beat**: Besides the '-' placeholder, there are also place holders for 99 and OOJ.  Also, 15 FK_ERRORS.

For my sanity and ease of use, we'll quickly change the column names to be more "python friendly".

In [7]:
df.columns = ['subject_age_group', 'subject_id', 'go_sc_num', 'terry_stop_id',
       'stop_resolution', 'weapon_type', 'officer_id', 'officer_yob',
       'officer_gender', 'officer_race', 'subject_perceived_race',
       'subject_perceived_gender', 'reported_date', 'reported_time',
       'initial_call_type', 'final_call_type', 'call_type', 'officer_squad',
       'arrest_flag', 'frisk_flag', 'precinct', 'sector', 'beat']
df.columns

Index(['subject_age_group', 'subject_id', 'go_sc_num', 'terry_stop_id',
       'stop_resolution', 'weapon_type', 'officer_id', 'officer_yob',
       'officer_gender', 'officer_race', 'subject_perceived_race',
       'subject_perceived_gender', 'reported_date', 'reported_time',
       'initial_call_type', 'final_call_type', 'call_type', 'officer_squad',
       'arrest_flag', 'frisk_flag', 'precinct', 'sector', 'beat'],
      dtype='object')

# Scrubbing

Alright, let's get to scrubbing data! We'll start with the easy stuff and move up to the more difficult decisions.

## Dashes
Until we get into the modeling stage, we'll replace all '-' values with the string 'Unknown'

In [8]:
df = df.replace('-', 'Unknown')

In [9]:
df.head()

,subject_age_group,subject_id,go_sc_num,terry_stop_id,stop_resolution,weapon_type,officer_id,officer_yob,officer_gender,officer_race,...,reported_time,initial_call_type,final_call_type,call_type,officer_squad,arrest_flag,frisk_flag,precinct,sector,beat
0,Unknown,-1,20140000120677,92317,Arrest,None,7500,1984,M,Black or African American,...,11:32:00,Unknown,Unknown,Unknown,SOUTH PCT 1ST W - ROBERT,N,N,South,O,O2
1,Unknown,-1,20150000001463,28806,Field Contact,None,5670,1965,M,White,...,07:59:00,Unknown,Unknown,Unknown,NaN,N,N,Unknown,Unknown,Unknown
2,Unknown,-1,20150000001516,29599,Field Contact,None,4844,1961,M,White,...,19:12:00,Unknown,Unknown,Unknown,NaN,N,Unknown,Unknown,Unknown,Unknown
3,Unknown,-1,20150000001670,32260,Field Contact,None,7539,1963,M,White,...,04:55:00,Unknown,Unknown,Unknown,NaN,N,N,Unknown,Unknown,Unknown
4,Unknown,-1,20150000001739,33155,Field Contact,None,6973,1977,M,White,...,00:41:00,Unknown,Unknown,Unknown,NaN,N,N,Unknown,Unknown,Unknown

## Officer Gender

In [10]:
df.officer_gender.value_counts()

M    38584
F     4917
N       11
Name: officer_gender, dtype: int64

As we've already established, we don't know if 'N' stands for 'Not Available', 'Not Disclosed', or even 'Non-Gender Binary'. Since it's such a small amount of data, we'll just drop it.

In [11]:
df = df[df['officer_gender'] != 'N']

df.officer_gender.value_counts()

M    38584
F     4917
Name: officer_gender, dtype: int64

## Officer Squad
Addressing the NaN values

In [12]:
df.officer_squad.isna().value_counts()

False    42968
True       533
Name: officer_squad, dtype: int64

In the interest of preserving as much data as possible, it might be in our best interest to drop this column. What squad an officer belongs to may not matter as much as the demographics of the police officer. We'll keep a copy of the original data frame just in case.

In [13]:
adf = df.copy()
adf = adf.drop('officer_squad', axis=1)
adf.columns

Index(['subject_age_group', 'subject_id', 'go_sc_num', 'terry_stop_id',
       'stop_resolution', 'weapon_type', 'officer_id', 'officer_yob',
       'officer_gender', 'officer_race', 'subject_perceived_race',
       'subject_perceived_gender', 'reported_date', 'reported_time',
       'initial_call_type', 'final_call_type', 'call_type', 'arrest_flag',
       'frisk_flag', 'precinct', 'sector', 'beat'],
      dtype='object')

## Subject ID
The identity might affect the model if people arrested were repeat offenders

In [18]:
# subsetting data so analyze the duplicate Subject ID's

ids = adf[adf['subject_id'] > 3]
ids.head()

,subject_age_group,subject_id,go_sc_num,terry_stop_id,stop_resolution,weapon_type,officer_id,officer_yob,officer_gender,officer_race,...,reported_date,reported_time,initial_call_type,final_call_type,call_type,arrest_flag,frisk_flag,precinct,sector,beat
1147,Unknown,11621995853,20190000404915,11622044618,Arrest,Unknown,7638,1989,M,White,...,2019-10-30T00:00:00,22:51:57,ARSON - IP/JO,--PROPERTY DEST (DAMG),911,Y,N,West,D,D2
1169,Unknown,7726713382,20200000109117,12800165868,Offense Report,Unknown,7808,1986,M,White,...,2020-03-31T00:00:00,11:45:40,SHOPLIFT - THEFT,--THEFT - SHOPLIFT,911,N,N,Unknown,Unknown,Unknown
1170,Unknown,7727213211,20190000287593,9587320855,Field Contact,Unknown,8649,1991,M,Hispanic or Latino,...,2019-08-04T00:00:00,13:22:42,TRESPASS,--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON,911,N,N,North,J,J2
1171,Unknown,7727213211,20190000287593,9587334107,Field Contact,Unknown,8649,1991,M,Hispanic or Latino,...,2019-08-04T00:00:00,13:45:33,TRESPASS,--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON,911,N,N,North,J,J2
1172,Unknown,7727213211,20190000367834,10558772346,Field Contact,Unknown,8459,1990,M,Hispanic or Latino,...,2019-10-02T00:00:00,12:39:08,"WEAPN-IP/JO-GUN,DEADLY WPN (NO THRT/ASLT/DIST)",--DISTURBANCE - OTHER,911,N,N,West,D,D2

In [17]:
ids.shape

(8830, 22)

In [20]:
ids = ids[ids['arrest_flag'] == 'Y']
ids.shape

(2282, 22)

In [24]:
ids = ids[ids['subject_id'] == 7727430767]

In [25]:
ids

,subject_age_group,subject_id,go_sc_num,terry_stop_id,stop_resolution,weapon_type,officer_id,officer_yob,officer_gender,officer_race,...,reported_date,reported_time,initial_call_type,final_call_type,call_type,arrest_flag,frisk_flag,precinct,sector,beat
24142,26 - 35,7727430767,20190000305890,9730643588,Arrest,Unknown,7782,1986,M,White,...,2019-08-17T00:00:00,15:52:35,THEFT (DOES NOT INCLUDE SHOPLIFT OR SVCS),--THEFT - CAR PROWL,911,Y,N,East,G,G2
24143,26 - 35,7727430767,20190000369340,10569538287,Arrest,Unknown,8491,1974,M,White,...,2019-10-03T00:00:00,15:06:56,Unknown,Unknown,Unknown,Y,Y,West,M,M3
24144,26 - 35,7727430767,20190000405808,11636833403,Arrest,Unknown,8389,1987,M,White,...,2019-10-31T00:00:00,17:51:36,SUSPICIOUS STOP - OFFICER INITIATED ONVIEW,--WARRANT SERVICES - FELONY,ONVIEW,Y,Y,Unknown,Unknown,Unknown
24146,26 - 35,7727430767,20200000149247,13111480477,Arrest,Unknown,8394,1991,M,White,...,2020-05-06T00:00:00,00:41:30,TRESPASS,--PROWLER - TRESPASS,911,Y,Y,North,U,U2
24147,26 - 35,7727430767,20200000180687,13305975975,Arrest,Unknown,8556,1995,M,White,...,2020-06-03T00:00:00,18:42:08,"DISTURBANCE, MISCELLANEOUS/OTHER","--ASSAULTS, OTHER",911,Y,N,West,D,D1
24149,26 - 35,7727430767,20200000215252,13871417277,Arrest,Knife/Cutting/Stabbing Instrument,8586,1990,M,White,...,2020-07-17T00:00:00,22:03:04,ASLT - IP/JO - WITH OR W/O WPNS (NO SHOOTINGS),--DV - DOMESTIC VIOL/ASLT (ARREST MANDATORY),911,Y,Y,South,R,R3

Because these incidents have separate Terry Stop IDs, Dates, and different reporting officers, these are separate incidents and shouldn't effect our data.

Let's get rid of those -1's and put 'unassigned' in their place.

In [26]:
adf['subject_id'] = adf.subject_id.replace(-1, 'unassigned')
adf.subject_id.value_counts()

unassigned     34671
7726859935        18
7727117712        12
7753260438        11
7726318196         8
               ...
8335944118         1
13499591239        1
7727655354         1
7745743294         1
12618563586        1
Name: subject_id, Length: 7039, dtype: int64

## General Offense/Street Check Number
Looking into why there are repeated values

In [29]:
stop_chk = adf[adf['go_sc_num'] > 1]
stop_chk['go_sc_num'].value_counts()

20160000378750    16
20150000190790    16
20180000134604    14
20190000441736    13
20170000132836    13
                  ..
20180000333849     1
20170000130073     1
20200000020505     1
20170000189693     1
20180000071981     1
Name: go_sc_num, Length: 33908, dtype: int64

In [32]:
stop_chk = stop_chk[stop_chk['go_sc_num'] == 20160000378750]
stop_chk

,subject_age_group,subject_id,go_sc_num,terry_stop_id,stop_resolution,weapon_type,officer_id,officer_yob,officer_gender,officer_race,...,reported_date,reported_time,initial_call_type,final_call_type,call_type,arrest_flag,frisk_flag,precinct,sector,beat
6521,18 - 25,unassigned,20160000378750,208302,Offense Report,None,7492,1983,M,White,...,2016-11-02T00:00:00,22:31:00,Unknown,Unknown,Unknown,N,Y,North,N,N3
6522,18 - 25,unassigned,20160000378750,208311,Arrest,None,7492,1983,M,White,...,2016-11-02T00:00:00,23:04:00,Unknown,Unknown,Unknown,N,Y,North,N,N3
16465,26 - 35,unassigned,20160000378750,208300,Offense Report,None,7492,1983,M,White,...,2016-11-02T00:00:00,22:22:00,Unknown,Unknown,Unknown,N,Y,North,N,N3
16466,26 - 35,unassigned,20160000378750,208301,Offense Report,None,7492,1983,M,White,...,2016-11-02T00:00:00,22:24:00,Unknown,Unknown,Unknown,N,Y,North,N,N3
16467,26 - 35,unassigned,20160000378750,208303,Offense Report,None,7492,1983,M,White,...,2016-11-02T00:00:00,22:35:00,Unknown,Unknown,Unknown,N,Y,North,N,N3
16468,26 - 35,unassigned,20160000378750,208307,Offense Report,None,7492,1983,M,White,...,2016-11-02T00:00:00,22:48:00,Unknown,Unknown,Unknown,N,Y,North,N,N3
29312,36 - 45,unassigned,20160000378750,208299,Offense Report,None,7492,1983,M,White,...,2016-11-02T00:00:00,22:18:00,Unknown,Unknown,Unknown,N,Y,North,N,N3
29313,36 - 45,unassigned,20160000378750,208305,Offense Report,None,7492,1983,M,White,...,2016-11-02T00:00:00,22:41:00,Unknown,Unknown,Unknown,N,Y,North,N,N3
29314,36 - 45,unassigned,20160000378750,208308,Offense Report,None,7492,1983,M,White,...,2016-11-02T00:00:00,22:51:00,Unknown,Unknown,Unknown,N,Y,North,N,N3
29315,36 - 45,unassigned,20160000378750,208310,Offense Report,None,7492,1983,M,White,...,2016-11-02T00:00:00,22:59:00,Unknown,Unknown,Unknown,N,Y,North,N,N3
29316,36 - 45,unassigned,20160000378750,208312,Offense Report,None,7492,1983,M,White,...,2016-11-02T00:00:00,23:08:00,Unknown,Unknown,Unknown,N,Y,North,N,N3
29317,36 - 45,unassigned,20160000378750,208314,Arrest,None,7492,1983,M,White,...,2016-11-02T00:00:00,23:15:00,Unknown,Unknown,Unknown,N,Y,North,N,N3
37571,46 - 55,unassigned,20160000378750,208304,Offense Report,None,7492,1983,M,White,...,2016-11-02T00:00:00,22:39:00,Unknown,Unknown,Unknown,N,Y,North,N,N3
37572,46 - 55,unassigned,20160000378750,208306,Offense Report,None,7492,1983,M,White,...,2016-11-02T00:00:00,22:45:00,Unknown,Unknown,Unknown,N,Y,North,N,N3
37573,46 - 55,unassigned,20160000378750,208309,Arrest,None,7492,1983,M,White,...,2016-11-02T00:00:00,22:54:00,Unknown,Unknown,Unknown,N,Y,North,N,N3
37574,46 - 55,unassigned,20160000378750,208313,Arrest,None,7492,1983,M,White,...,2016-11-02T00:00:00,23:11:00,Unknown,Unknown,Unknown,N,Y,North,N,N3

From the dates, the separate Terry Stop ID's, the different Stop Resolutions and it all roughly happening within the same hour, it appears that this was a dispute of some sort in which an officer collected Offense Reports from 12 people and issued out tickets to 4 people (because there was no physical arrest denoted by the column 'arrest_flag', these were non-custodial arrests/citations).

## Report Date
We want to remove the time stamp from date, create a column for the year and finally calculate the ages for the officers